<html>
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Flickocator | Locate Flickr
		</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navigation-bar" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand logo" style="color: white;">	Flickocator
					</span>
					<ul class="nav navbar-nav ">
        				<li class="active"><a href="#">About</a></li>
        				<li><a href="#">Features</a></li>
        			</ul>
        			
				</div>	
				<div class="pull-right">
					<i class="fa fa-user fa-3" style="font-size:2.7em;"></i>
				</div>
			</div>
		</nav>
		<div class="row-fluid">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<form>
						<input type="text" class="form-control" placeholder="Upload the flickr URL">
					</form>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>

	</body>
</html>
